<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    .bbb {
      display: block;
      width: 100%;
      border: none;
      background-color: #04AA6D;
      color: white;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
      text-align: center;
    }
    
    .bbb:hover {
      background-color: #ddd;
      color: black;
    }
    
        /* Set display to none for image*/
    #image {
            display: none;
    }
    

    </style>
    <script>
      function show() {
          /* Access image by id and change
          the display property to block*/
          document.getElementById('image')
              .style.display = "block";
          document.getElementById('btnID')
              .style.display = "none";
      }
  </script>
    
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>HopeAmbassador</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Mentor
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">HopeAmbassador</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a class="active" href="Learn.html">Learn</a></li>
          <li><a href="trainers.html">Trainers</a></li>
          <li><a href="events.html">Examinations</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="Learn.html" class="get-started-btn">Get Started</a>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Electricity</h2>
        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Cource Details Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">


            <section id="counts" class="counts section-bg">
              <div class="container">
                <a href="i.html" class="get-started-btn">Question Type 1 - Set 2</a>
                <a href="i.html" class="get-started-btn">Question Type 1 - Set 2</a>
              </div>
              
            </section>

            <section id="counts" class="counts section-bg">
              <div class="container">
                  <a href="i.html" class="get-started-btn">Question Type 1 - Set 2</a>
                  <a href="i.html" class="get-started-btn">Question Type 1 - Set 2</a>

              </div>
            </section>
            
            <section id="counts" class="counts section-bg">
              <div class="container">
                  <a href="i.html" class="get-started-btn">Question Type 1 - Set 3</a>
                  <a href="i.html" class="get-started-btn">Question Type 1 - Set 3</a>

              </div>
            </section>

            <section id="counts" class="counts section-bg">
              <div class="container">
                  <a href="i.html" class="get-started-btn">Question Type 2 - Set 1</a>
                  <a href="i.html" class="get-started-btn">Question Type 2 - Set 1</a>

              </div>
            </section>

            <section id="counts" class="counts section-bg">
              <div class="container">
                  <a href="i.html" class="get-started-btn">Question Type 2 - Set 2</a>
                  <a href="i.html" class="get-started-btn">Question Type 2 - Set 2</a>

              </div>
            </section>
            
            <section id="counts" class="counts section-bg">
              <div class="container">
                  <a href="i.html" class="get-started-btn">Question Type 2 - Set 3</a>
                  <a href="i.html" class="get-started-btn">Question Type 2 - Set 3</a>

              </div>
            </section>

            <section id="counts" class="counts section-bg">
              <div class="container">
                  <a href="i.html" class="get-started-btn">Question Type 3 - Set 1</a>
                  <a href="i.html" class="get-started-btn">Question Type 3 - Set 1</a>

              </div>
            </section>

            <section id="counts" class="counts section-bg">
              <div class="container">
                  <a href="i.html" class="get-started-btn">Question Type 3 - Set 2</a>
                  <a href="i.html" class="get-started-btn">Question Type 3 - Set 2</a>

              </div>
            </section>
            
            <section id="counts" class="counts section-bg">
              <div class="container">
                  <a href="i.html" class="get-started-btn">Question Type 3 - Set 3</a>
                  <a href="i.html" class="get-started-btn">Question Type 3 - Set 3</a>

              </div>
            </section>


            <img src="assets/img/trainers/trainer-1.jpg"  alt="" width="300" height="300">
            <h4>Walter White</h4>
            <span>Web Development</span>
            <p>
              I'm Walter White, a web development expert with 6 years of experience. I specialize in creating stunning, functional websites using HTML, CSS, JavaScript, and front-end frameworks like React and Angular. I'm also well-versed in back-end technologies like Node.js and Express, along with databases such as MongoDB and MySQL.
            </p>
            <img src="circuit_anim_v9.gif">
            <div>
                <h1>Sample papers and HOTS</h1>
                <!-- Add id to image -->
                <img id="image"  src="i.png"  alt="GFG image" />
            </div>
            <button type="button" onclick="show()" id="btnID">
                Show Image
            </a>
          </div>

          

          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Electric Current and Circuit Diagrams
            </h3>
            <p>Electricity has an important place in modern society. What constitutes an electric current? How does it flow in an electric circuit? What are the factors that regulate electric current? Let us study more about it below.

            </p>
            <h3>
              Electric Current Definition

            </h3>
            <p>An electric current is a flow of particles (electrons) flowing through wires and components. It is the rate of flow of charge. If the electric charge flows through a conductor, we say that there is an electric current in the conductor. In the circuits using metallic wires, electrons constitute a flow of charges.

            </p>
            <h3>
              Electric Current Formula and Unit

            </h3>
            <p>
              The conventional direction of electric current is taken as opposed to the direction of flow of electrons. If a charge Q flows through the cross-section of a conductor in time t, the current I then I=Q/t. The S.I unit of charge is coulomb and measurement of electric current happens in units of coulomb per second which is ‘ampere’. The current flows from the negative terminal to the positive terminal of the cell.


            </p>

            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
              <img src="img1.png" class="img-fluid" alt="">
            </div>
            <p>This is a simple electric circuit. It has a lamp, a switch, and a cell.

              In a torch, the battery provides the flow of charges which means the bulb in the torch glows due to the electric current. What does a switch do? The switch creates a conducting link between the cell and the bulb. If the circuit breaks, then the current stops flowing immediately and the bulb does not glow.</p>
              <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="img2.png" class="img-fluid" alt="">
              </div>  
              <h3>What is a flow of current? 
              </h3>
              <p>When a small amount of electric charge is placed in the electric field due to another charge, it experiences a force. So work has to be done on the positive charge. In electrolytes and ionized gases, both the positively charged ions and negatively charged ions are moving and this constitutes the electric current. If n electrons pass through the cross-section of a conductor in time t, the total charge that passes through the conductor is then,  Q = n×e.

              </p>
              <h3>Electric Current and Circuit Diagram Elements

                
              </h3>
              <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="img3.png"  alt="" width="650" height="254">
              </div> 
              <p>The schematic diagram represents the different components of a circuit; this is the circuit diagram. These symbols represent the common electrical components.

              </p>
              <h3>Solved Example For You
              </h3>
              <p><b>Q.</b> A current of 0.75 A is drawn by the filament of an electric bulb for 10 minutes. Find the amount of electric charge that flows through the circuit.
              </p>
              <p>
                <b>Sol:</b> Given, I= 0.75 A, t=10 minutes= 600 s
              </p>
              <p>  
                We know, Q = I× t = 0.75 × 600
              </p>
              <p>
                Therefore, Q= 450C
              </p>
              <p> 
                <b>Q.</b> What constitutes current in a metal wire?
              </p>
              <p>  
                a. Electrons         b. Protons
              </p>
              <p>  
                c. Atoms              d. Molecules
              </p>
              <p>  
                <b>Sol:</b> a. Electrons. Electric current is the flow of electric charge. The electric charge mainly constitutes the electrons.
              </p>  
              <video width="500px" height="300px" controls="controls">
                <source src="vid.mp4" type="video/mp4" />
          
          </div>
        </div>

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>