<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>HopeAmbassador</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/hopefavi.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Hope Ambassadors
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/Hope Ambassadors-free-education-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body style="background-image: url(/public/Mainpage.jpg);">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index">HopeAmbassadors</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="active" href="index">Home</a></li>
          <li><a href="Learn.html">Learn</a></li>
          <li><a href="trainers.html">Trainers</a></li>
          <li><a href="events.html">Examinations</a></li>
          <li><a href="contact.html">Discussion</a></li>
          <li><a href="ChatBot/index.html">ChatBot</a></li>
          <li><a href="http://localhost:8501">Live Face Recognition </a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="Learn.html" class="get-started-btn">Get Started</a>
      <a href="/" class="get-started-btn"> <%= score %> </a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Learning Today,<br>Leading Tomorrow</h1>
      <h2>Make learning possible everywhere...</h2>
      <a href="Learn.html" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Steps to get started with learning here .....</h3>
            
            <ul>
              <li><i class="bi bi-check-circle"></i> Click " Get Started "</li>
              <li><i class="bi bi-check-circle"></i> Choose your course </li>
              <li><i class="bi bi-check-circle"></i> Start learning , attend test and evaluate yourself, and get reccommendations to learn more and better</li>
            </ul>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
            <p>Courses</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
            <p>Examinations</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Trainers</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why Choose Hope Ambassadors?</h3>
              <p>
                In Hope Ambassadors we give high quality 
                education to all kinds of students from 
                varied sections of the society overcoming 
                their limitations and shortcomings.....
                Thereby we provide a well prepared education
                system which will specifically target on certain
                qualities and skill-sets and improve them eventually
              </p>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Study Materials</h4>
                    <p>Well prepared text materials
                      provided by the government,&
                      Best explanatory videos with
                      state of art animations and 
                      questions after every sub-topic
                      to ensure active learning.
                    </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Doubts & Clarification</h4>
                    <p>Doubts based on any subtopic of a lesson
                      or a video explaining concept can be cleared 
                      just by typing ot out in the doubts sessions.
                      Moreover student-teacher and student-student
                      discussions are allowed along with grievance 
                      addressal.
                    </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Evaluation</h4>
                    <p>Students provided with enough text
                      materials to evaluate them and study 
                      actively.Various aspects of students 
                      intellectual are being put to test &
                      a leaderboard being prepared to based
                      on these evaluation 
                    </p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->


    <!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Courses</h2>
          <p>Popular Courses</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="assets/img/course-1.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Web Development</h4>
                </div>

                <h3><a href="course-details.html">Website Design</a></h3>
                <p>Through web design courses, aspiring designers learn to use HTML, CSS, and web graphics tools, enabling them to craft compelling online experiences that cater to diverse user needs and preferences.</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="./assets/img/trainers/kevinh.jpg" class="img-fluid" alt="">
                    <span>Kevin Jeyaraj</span>
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;50
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;65
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <img src="assets/img/course-2.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Marketing</h4>
                </div>

                <h3><a href="seo.html">Search Engine Optimization</a></h3>
                <p>These courses cover essential topics such as keyword research, on-page and off-page optimization techniques, and analytics, enabling participants to implement effective SEO strategies for businesses and websites</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="assets/img/trainers/Karthi.jpg" class="img-fluid" alt="">
                    <span>S Karthikeyan</span>
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;35
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;42
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <img src="assets/img/course-3.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Full stack Development</h4>
                </div>

                <h3><a href="bac.html">Backend</a></h3>
                <p>These courses cover topics such as natural language processing, information retrieval, and deep learning, equipping students with the skills to build intelligent search systems capable of understanding user intent and delivering more relevant search results.</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="assets/img/trainers/Pro.jpg" class="img-fluid" alt="" height="">
                    <span>Suresh Kumar K</span>
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;20
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;85
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>

      </div>
    </section><!-- End Popular Courses Section -->

        

    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Trainer</h2>
         <p>Trainer</p>
          </div>
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/trainers/Pro2.png" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Suresh Kumar.K</h4>
                <span>Full Stack Developer/Computer Vision</span>
                <p>
                  Hello! I'm Suresh Kumar, a dedicated and experienced full stack developer who is equally passionate about teaching. As a third-year student and a full stack developer with a strong grasp of both front-end and back-end technologies, I have the privilege of sharing my expertise with aspiring developers. I specialize in cultivating a deep understanding of the tech stack that powers modern web applications. My training approach goes beyond the syntax, focusing on real-world application and problem-solving.</p> 
                <p>With a comprehensive knowledge of HTML5, CSS3, JavaScript, React.js, Vue.js, Node.js, Express.js, and databases like MongoDB and MySQL, I empower my students to build dynamic and responsive web solutions from scratch. From e-commerce platforms to task manager apps, I guide my students through hands-on projects that instill confidence and foster creativity. If you're eager to embark on a journey of becoming a proficient full stack developer, I'm here to provide you with the guidance and mentorship you need.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/trainers/Harshav.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Harshavardhan D</h4>
                <span>Power BI Developer</span>
                <p>Hello, I'm Harshavardhan D, a dedicated Power BI Developer with a knack for turning data into actionable insights. With a passion for visualizing complex information, I specialize in creating interactive and visually appealing dashboards that empower businesses to make informed decisions. As a third-year student and a budding expert in data analytics, I've honed my skills in Power BI to transform raw data into compelling narratives. Proficient in data modeling, DAX (Data Analysis Expressions), and Power Query, I've crafted solutions that streamline reporting processes and enhance data-driven strategies. Whether it's designing comprehensive sales reports or crafting interactive KPI dashboards, I'm committed to translating complex data into understandable visual stories. If you're looking to harness the power of data visualization, I'm here to assist you in leveraging Power BI's capabilities for insightful analytics.

                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/trainers/Karthi.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Karthikeyan </h4>
                <span>Front-end Developer</span>
                <p>
                  Hello, I'm Karthikeyan S, an enthusiastic frontend developer with a passion for educating the next generation of web developers. Currently in my third year of studies, I'm deeply committed to helping budding developers explore the exciting world of front-end technologies. My focus lies in creating rich and intuitive user experiences through a blend of HTML5, CSS3, and JavaScript. With a solid foundation in frameworks like React.js and Vue.js, I'm dedicated to equipping my students with the skills to craft engaging and responsive web interfaces.

                  Through hands-on training, I emphasize the importance of clean code, efficient design, and best practices in web development. My approach not only covers the technical aspects but also encourages creative problem-solving and critical thinking. Whether you're looking to build sleek user interfaces or dive into the intricacies of front-end architecture, I'm here to guide you on your journey.                  
                </p>  
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/trainers/kevinh.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Kevin Jeyaraj</h4>
                <span>Education Psychologist</span>
                <p>I'm Kevin Jeyaraj, an Education Psychologist deeply committed to fostering effective learning environments and supporting the growth and development of students. With a solid foundation in psychological principles and educational practices, I bring a unique perspective to the realm of education. Currently pursuing my academic journey, I am in my third year of studies and have already been privileged to work with diverse learners. My approach to education is rooted in understanding the intricate interplay between cognitive, emotional, and social factors that influence learning outcomes.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      
    </section><!-- End Trainers Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Hope Ambassadors</h3>
            <p>
              Officals:<br>
              Suresh Kumar.K<br>
              Kevin Jeyaraj<br>
              Karthi_S<br>
              Harshavardhan<br>
              Chennai, Tamil Nadu<br>
              <br>Helpline:<br>
              <strong>Phone:</strong> +91 8072543514<br>
              <strong>Email:</strong> HopeAmbassadors@education.com<br>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>